
<div class="jumbotron">
  <h1>Cash Cows Gratuation Celebration</h1>
  <h5> While we are doign Spring quarter classes remotely (for now), let's look forward to seeing each other in person again when COVID-19 leaves us!</h5>
  <h5> Here is a list of the events that we are planning for our graduation. Sign-up to RSVP, and leave a few words for your fellow sectionmates! </h5>
  <p> With love, Vivian, Karina, and Ben </p>
  </div>

<h1>Cash Cows Gratuation Celebration</h1>

<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
<% end %>

<a href="year_book" class="btn btn-primary">See our year book messages!</a>