<h1>Cash Cows Gratuation Celebration</h1>

<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
<% end %>

<a href="year_book" class="btn btn-primary">See our year book messages!</a>