 <div class="photos">
        <div class="row">
            <div class="col-sm text-center">
                <img src="Cashcows05.JPG" class="img-fluid">
            </div>    
        </div>
</div>

</br>

<h2> Messages from your beloved fellow Cash Cows! </h2>

</br>

<div>
    <% for user in @users %>
        <h4 class="message"><%= user[:name] %></h4>
        <p><%= user[:message] %></p>
    <% end %>
</div>
        
 </br>